/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.products {
    padding: 50px 0;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.box {
    width: 280px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
}

.discount {
    background-color: #ff3333;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 8px;
    font-size: 14px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.image img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.05);
}

.icons {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.icons a {
    color: #f3ebeb;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #ff3333;
}

.content {
    padding: 20px;
}

.content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.availability {
    font-size: 16px;
    color: green;
    font-weight: bold;
}



.cart-btn {
    background-color: #ff6666; /* Light red */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-btn:hover {
    background-color: #ead4d4;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ff3333;
}
